# Node modules
node_modules/


prt2.js
package-lock.json
# Logs
logs/
cron_logs/
websocket_logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

*.csv
